* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background: radial-gradient(circle, rgba(41, 27, 12, 1) 0%, rgba(45, 45, 45, 1) 100%);
}

#gl-canvas {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.grid-container {
    max-width: 50%;
    min-width: 360px;
    display: grid;
    gap: 3px;
    grid-template-columns: 30px, minmax(300px, 100%), 30px;
}

.flex-container {
    display: flex;
    height: 90vh;
    gap: 3px;
    flex-direction: column;
}

.controls {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;

    >button {
        background-color: orange;
        border: 0;
        padding: 4px 10px;
        border-radius: 8%;

        &:hover {
            filter: brightness(110%);
        }

        &:active {
            filter: brightness(90%);
        }
    }
}